.navsubmenustyle{
	width: 250px; /*width of sub menu levels*/
	font-family: Arial, Verdana;
    font-size: 11px;
    font-weight: normal;
	text-align:left;
	border-width: 0px 1px 0px 0px;
	padding: 2px 5px;
	background:#FBFAC2;
}

.navsubmenustylehover{
	background:#D9CB9A;
	color:#000000;
}

.navlinkcolor
{
    color:#800000;
    z-index: 1;
}

a.submenu:link
        {
            color: #742902;
            text-decoration: none;
        }
a.submenu:hover
        {
            color: #FF0000 !important;
            text-decoration: none;
        }
a.submenu:visited
        {
            color: #742902;
            text-decoration: none;
        }
a.submenu:active
        {
            color: #FF0000 !important; 
            text-decoration: none;
        }

/*************Menu Content Style*************************/

.navlastData_Section
{
	border-top: #B5B48A outset 0px;
	border-left:#B5B48A outset 1px;		
	border-right:#F2F1B9 outset 0px ;
	border-bottom: #F2F1B9 outset 0px;
}

.navcontentTabletd
{
	padding-left: 9px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.navtabBorderStyle
{
     border-left:#B5B48A solid 1px;
     border-right:#2f465a solid  1px; 
     border-top:#b5b48a solid 1px;
     border-bottom:#79785c solid 1px;
}

.navtabCellBackgroundReg {
	background: url(../Images/tabBlockReg.gif);
	background-position:center;
	position: relative;
	width: 25%;
	height: 100%;
	padding: 4px 4px 4px 4px;
	background-repeat:no-repeat;
}

.navtabCellBackgroundRev {
	background: url(../Images/tabBlockRev.gif);
	background-position:center;
	position: relative;
	width: 25%;
	height: 100%;
	padding: 4px 4px 4px 4px;
	background-repeat:no-repeat;
}

.navtabCellBackgroundRec {
	background: url(../Images/tabBlockRec.gif);
	background-position:center;
	position: relative;
	width: 25%;
	height: 100%;
	padding: 4px 4px 4px 4px;
	background-repeat:no-repeat;
}

.navtabCellBackgroundBen {
	background: url(../Images/tabBlockBen.gif);
	background-position:center;
	position: relative;
	width: 25%;
	height: 100%;
	padding: 4px 4px 4px 4px;
	background-repeat:no-repeat;
}

.navtxtStyle
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color:#742902;
	font-weight:normal;
	background:transparent;
	text-align:left;
	padding: 6px 6px 6px 50px;
}

.navheaderStyle
{
	font-family:Arial, Verdana;
	font-size: 12px;
	font-weight:bold;
	padding: 0px 0px 0px 25px;
	text-align:left;
	color:#742902;
	text-transform: uppercase;
}

/*Style class for making the field hidden*/
.navnodisplay{
	display:none;
}

.tabBackStyle{
	background: url(../Images/tabBack.gif) repeat-x fixed left top;
}

.tabLanding{
	background: url(../Images/tabLanding.gif);
	position: relative;
	background-repeat:no-repeat;
	height: 300px;
}
.navLinkText
{
	font-family:Arial, Verdana;
	font-size: 12px;
	font-weight:bold;
	padding: 0px 0px 0px 25px;
	text-align:left;
	color:#742902;
}
.listStyle{
	font-family:Arial, Verdana;
	list-style-type:square;
}
.navLinkText .listStyle span{
	font-family:Arial, Verdana;
	font-size: 12px;
	font-weight:normal;
}

/*************Menu Content Style*************************/